{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "rules": {
    "function-paren-newline": "off",
  },
}
